@import "cerulean";

@brand-primary: #108151;
@brand-info: #026434;
@splash-bg: url('http://www.dot.state.oh.us/Style%20Library/www_2012/images/www_2012_bg.jpg');
@texture-image: @splash-bg;
@texture-color: @brand-info;
@headings-color: @texture-color;
@selection-title: @texture-color;
@selection-title-shadow: #fafafa;

.splash {
  background-size: cover;
}
