//@import "../app.less";

@splash-bg: #b2c9e8;
@navbar-default-bg: #005daa;
@brand-primary: #f37737;
@brand-info: #f4f0e5;
@texture-color: @brand-info;
@selection-title: @navbar-default-bg;
@texture-color: @navbar-default-bg;
@navbar-default-color: #fff;
@navbar-default-link-color: @navbar-default-color;
@navbar-default-link-hover-color: @brand-primary;
@navbar-default-link-active-color: @navbar-default-link-hover-color;
@selection-title-shadow: none;
@state-info-text: @navbar-default-bg;
@state-info-bg: @brand-info;
