//@import "../app.less";

@splash-bg: #f4f0e5;
@navbar-default-bg: #44443c;
@brand-primary: #880000; //#d70b02;
@brand-info: #f4f0e5;
@texture-color: @brand-info;
@selection-title: @navbar-default-bg;
@texture-color: @navbar-default-bg;
@navbar-default-color: #eabd82;
@navbar-default-link-color: @navbar-default-color;
@navbar-default-link-hover-color: @brand-info;
@navbar-default-link-active-color: @navbar-default-link-hover-color;
@selection-title-shadow: none;
@state-info-text: @navbar-default-bg;
@state-info-bg: @brand-info;