@bar-loading-from-color: @brand-primary;
@bar-loading-to-color: lighten(@brand-primary, 25%);
@bar-loading-width: 125px;
@bar-loading-heigth: 21px;

.bar-square-loading-container {
  position: relative;
  width: @bar-loading-width;
  height: @bar-loading-heigth
}

.bar-square-loading {
  position: absolute;
  top: 0;
  background-color: @bar-loading-from-color;
  width: @bar-loading-heigth; // TODO: Make this dynamic.
  height: 100%;
  -moz-animation-name: bounce_bar-square-loading;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-transform: scale(.3);
  -webkit-animation-name: bounce_bar-square-loading;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(.3);
  -ms-animation-name: bounce_bar-square-loading;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-transform: scale(.3);
  -o-animation-name: bounce_bar-square-loading;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-transform: scale(.3);
  animation-name: bounce_bar-square-loading;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(.3);
}

.bar-square-loading_1 {
  left: 0;
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  animation-delay: 0.52s;
}

.bar-square-loading_2 {
  left: 38px;
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

.bar-square-loading_3 {
  left: 75px;
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

.bar-square-loading_4 {
  left: 113px;
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s;
}

.bar-square-loading_5 {
  left: 150px;
  -moz-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  animation-delay: 1.04s;
}

.bar-square-loading_6 {
  left: 188px;
  -moz-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  animation-delay: 1.17s;
}

.bar-square-loading_7 {
  left: 225px;
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.bar-square-loading_8 {
  left: 263px;
  -moz-animation-delay: 1.43s;
  -webkit-animation-delay: 1.43s;
  -ms-animation-delay: 1.43s;
  -o-animation-delay: 1.43s;
  animation-delay: 1.43s;
}

@-moz-keyframes bounce_bar-square-loading {
  0% {
    -moz-transform: scale(1);
    background-color: @bar-loading-from-color;
  }

  100% {
    -moz-transform: scale(.3);
    background-color: @bar-loading-to-color;
  }

}

@-webkit-keyframes bounce_bar-square-loading {
  0% {
    -webkit-transform: scale(1);
    background-color: @bar-loading-from-color;
  }

  100% {
    -webkit-transform: scale(.3);
    background-color: @bar-loading-to-color;
  }

}

@-ms-keyframes bounce_bar-square-loading {
  0% {
    -ms-transform: scale(1);
    background-color: @bar-loading-from-color;
  }

  100% {
    -ms-transform: scale(.3);
    background-color: @bar-loading-to-color;
  }

}

@-o-keyframes bounce_bar-square-loading {
  0% {
    -o-transform: scale(1);
    background-color: @bar-loading-from-color;
  }

  100% {
    -o-transform: scale(.3);
    background-color: @bar-loading-to-color;
  }

}

@keyframes bounce_bar-square-loading {
  0% {
    transform: scale(1);
    background-color: @bar-loading-from-color;
  }

  100% {
    transform: scale(.3);
    background-color: @bar-loading-to-color;
  }

}
