@ring-color: #790510;
@loading-msg-color: #fff;

.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  color: @loading-msg-color;
  font-family: sans-serif;
  font-size: 14px;
  z-index: 99999999;
}

.loader {
  top: 17%;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 100px auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
}

.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 5px solid @ring-color;
  box-shadow: 0 0 50px @ring-color, inset 0 0 50px @ring-color;
}

.loader:after {
  z-index: 1;
  -webkit-animation: gogoloader 2s infinite 1s;
}

.loader:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
