@import "cerulean";

@brand-primary: #16395f;
@brand-info: #0654a2;
@brand-danger: #eb4b4e;
@body-bg: #d7d7d7;
@splash-bg: url('http://media.tsstools.com/images/texas-flag-pole.png');
@texture-image: @splash-bg;
@splash-text-color: #0c2440;
//@selection-title: @texture-color;
@selection-title-shadow: #fafafa;
@font-family-sans-serif: Calibri, Tahoma, Verdana, Geneva, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

.splash {
  background-repeat: no-repeat;
  background-position: left bottom;
}
