@import "yeti";

@brand-primary: #2d317b;

@navbar-default-color: #fecb56;
@navbar-default-link-color: @navbar-default-color;
@navbar-default-link-hover-color: #feb824;
@navbar-default-link-active-color: #feb824;

@brand-info: #7172ce;
@state-info-text: @navbar-default-bg;