@import "cerulean";

@splash-bg: #ebe8df;
@texture-image: @splash-bg;
@brand-primary: #0c2440;
@brand-info: #133f6e;
@texture-color: @brand-info;
@selection-title: @brand-primary;
@selection-title-shadow: fff;