<li class="dropdown" dropdown>
    <a href class="dropdown-toggle" dropdown-toggle>
        <i class="glyphicon glyphicon-tint"></i> Themes <b class="caret"></b>
    </a>
    <ul class="dropdown-menu theme-list" role="menu">
        <li ng-class="{active:thm == theme}" ng-repeat="thm in themes">
            <a href="" ng-click="apply(thm)" role="menuitem">
                <i class="glyphicon glyphicon-file"></i> {{thm}}
            </a>
        </li>
    </ul>
</li>
